
html, body {
  height: 100%;
  /* 'font-family: Courier, Times, Verdana, Arial, Helvetica , sans-serif;*/
  font-family: Arial, Helvetica , sans-serif;
  font-size:16px;
  
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color:#303030;}

.shouter {background-color: #FFB477;margin-top:0px;padding-left:0px;padding-right: 0px;}
.shouter h1 {font-size: 90pt;display:block}
.shouter h2 {font-size: 20pt;margin-left:40px;display:block}

#carousel .item > img {height:250px;border:0px;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;border-radius:0px}

.important {
	text-align:right; background: #ff851f; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff851f 0%, #ffb477 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff851f), color-stop(100%,#ffb477)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff851f 0%,#ffb477 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff851f 0%,#ffb477 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff851f 0%,#ffb477 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff851f 0%,#ffb477 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff851f', endColorstr='#ffb477',GradientType=0 ); /* IE6-9 */
}

.important h1 {font-size:1.2em;margin:10px 10px}

.whisper {
	background: #F8F8F8;
	border: 1px solid transparent;
	border-color:rgb(238, 238, 238);
}

.floater {
	padding:5px;
	padding-left:10px;
	top:20px;	
	border-color:black;
	border-width:1px;
	border-style:none;
	border-radius:1px;
	height:120px;
	width:400px;
	opacity:0.70;	
	z-index:10;
	position:absolute;	
	background: #d60000; /* Old browsers */
background: -moz-linear-gradient(top,  #d60000 1%, #ff1f1f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d60000), color-stop(100%,#ff1f1f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d60000 1%,#ff1f1f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d60000 1%,#ff1f1f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d60000 1%,#ff1f1f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d60000 1%,#ff1f1f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60000', endColorstr='#ff1f1f',GradientType=0 ); /* IE6-9 */

} 

.floater > span {color:white;font-size:1.5em;opacity:1;}	



.tpnavbar {
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #f8f8f8 76%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(76%,#f8f8f8), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f8f8f8 76%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#f8f8f8 76%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#f8f8f8 76%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F3F3F3 0%,#F3F3F3 76%,#F0F0F0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
	border-style:solid;border-width: 1px;border-color: rgb(243, 243, 243);
}

.tpnavbar .navbar-toggle {float:none;border-color: #ddd}
.tpnavbar .navbar-toggle .icon-bar {background-color: #888}
.tpnavbar .navbar-link {color: #777;}
.tpnavbar .active {background-color: }
.tpnavbar .navbar-link:active {background-color:#E2E2E2 }

.tpnavbar .navbar-collapse .divider {
	height: 30px;
	width: 1px;
	background-color: grey;
	opacity: 0.2;
	margin: 10px;	
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider {
    display: none;
  }
}


.info {background-color:#F8F8F8; border-radius: 4px;box-shadow:-1px 1px 10px 1px rgba(124, 124, 124, 0.75);margin-top:5px;}

.info p {color:grey; margin-top:20px;}

main {min-height: 100%; height:auto; margin: 0 auto -75px; padding:0 0 75px;}

.page-header {border-bottom:2px solid #FFB41F;margin-top:20px;}
.lead {font-size:1.2em;}

footer {margin-top:15px;}
